
.header2{
    margin-left: 40%;
    font-size: 18px;
}

.tab-content {
    display:none;
}
.tab-content:first-child {
    display:block;
}
[data-role=footer]{
    bottom:0; 
    position: fixed !important; 
    top: auto !important; 
    width:100%;
    z-index: 10000;
}

.imagen{
    width: 40%;
}

.logo{
  width: 20%;
}

.menuLogo{
    width: 55px;
    float: left;
    position: sticky;
}

.swiper-wrapper img{
  width: 90%;
  height: 160px;
  border-radius: 10%;
}
.menuLogoVuamos{
    width: 100px;
    float: right;
}

.swiper-container {
    width: 100%;
    height: 50%;
    
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.encima{
    position: absolute;
    
    text-decoration: none;
    color: black;
    text-shadow: white 0px 0px 3px ;
}